@import '~bootstrap/scss/bootstrap';

$font-color: #333;
$primary-darkest: hsla(223, 36%, 35%, 1);
$primary-dark: hsla(222, 29%, 61%, 1);
$primary-light: hsla(216, 18%, 75%, 1);
$primary-lightest: hsla(210, 11%, 83%, 1);
$background: rgb(226, 228, 228);
$button-background: hsla(60, 4%, 97%, 1);

html, div, nav {
  background-color: $background
}

html {
  height: 100%;
}
body {
  height: 100%;
  overflow-y: hidden;
}

.projects-page {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 2px;
}

.paralax-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.fullname-header {
  font-size: 9em;
  text-align: left;
  color: $font-color;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

@include media-breakpoint-down(md) {
  .fullname-header {
    font-size: 5em;
  }

  #basic-navbar-nav {
    display: none !important;
  }
}

.navbar {
  text-align: right;
}

.navbar-collapse {
  display: block;
  flex-direction: column;
}

.projects-container {
  margin-top: 50px;
}

.grey-box {
  text-align: center;
  background-color: $button-background;
  border-color: black;
  border-width: 1px;
  border-style: inset;
  box-shadow: 2px 2px black;

  &:active {
    box-shadow: 1px 1px black;
  }

  &:hover {
    background-color: change-color($color: $button-background, $lightness: 85%, $alpha: 1.0) ;
  }

  a:hover {
    color: orange;
  }
}

.square-btn {
  line-height: 0;
  text-align: top;
  font-size: 4em;
  max-width: 66px;
  max-width: 66px;
  width: 66px;
  height: 66px;
}

svg {
  line-height: 0;
}

.nav-item {
  margin: 5px;
  max-height: 55px;
  user-select: none;
}

.sub-nav-item {
  margin: 5px;
  max-height: 35px;
  max-width: 120px;
  width: 80px;
}

a {
  text-decoration: none;
  color: $font-color;

  a:hover {
    color: orange;
    text-decoration: none;
  }
}

.projects-page {
  overflow-y: scroll;
  position: relative;
  height: 100%;
}

.paralax-item {
  position: relative;
}

.square-btn {
  margin: 10px;
}

.nav-item > a {
  font-size: 2em;
}

.sub-nav-item > a {
  font-size: 1.2em;
}

.link-svg {
  font-size: 5rem !important;
  &:hover {
    color: orange;
    text-decoration: none;
  }
}

.nav-queued {
  color: orange;
}

.page-button {
  position: fixed;
  right: 0;
  left: 0;
  margin: auto;
  font-size: 3em;
  z-index: 1;

  &.page-button-down {
    bottom: 2%;
  }

  &.page-button-up {
    top: 2%;
  }

  &.page-button-left {
    top: 2%;
    left: 2%;
    margin-left: unset;
  }

  &:hover {
    color: orange;
  }
}

a:hover {
  text-decoration: none;
}

.card-body, .card-title {
  background-color: whitesmoke;
}

.card-img-top {
  border-top: #BBB solid 1px;
  border-left: #BBB solid 1px;
  border-right: #BBB solid 1px;

}

.badge {
  margin: 2px;

  &.youtube {
    background-color: #FF0000;
    color: white;
  }

  &.heroku {
    background-color: #79589f;
    color: white;
  }
}

.badge > a {
  color: white;
}

.card-deck {
  // xs, sm: 576px, md: 768px
  @include media-breakpoint-down(md) {
    flex-direction: column;

    .card {
      margin-bottom: 20px;
    }
  }

  //1200px, lg: 992px
  @include media-breakpoint-down(xl) {
    flex-direction: row;
  }
}

.card-columns {
  //576px
  @include media-breakpoint-down(sm) {
    column-count: 1;
  }

  //768px
  @include media-breakpoint-only(md) {
    column-count: 2;
  }

  //1200px
  @include media-breakpoint-down(xl) {
    column-count: 3;
  }
}

.d-lg {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.align-self-center-offset {
  @include media-breakpoint-down(md) {
    margin-bottom: 0%;
  }

  //1200px
  @include media-breakpoint-only(xl) {
    margin-bottom: 20%;
  }
}

.w-35 {
  width: 35% !important;
}